pkgbase = tachidesk-sorayomi-git
	pkgdesc = A free and open source manga reader to read manga from a Suwayomi-Server instance
	pkgver = 0.6.4.r547.7e50b48
	pkgrel = 1
	url = https://github.com/Zebra2711/Tachidesk-Sorayomi
	arch = x86_64
	license = MPL2
	makedepends = fvm
	makedepends = cmake
	makedepends = clang
	makedepends = ninja
	makedepends = pkg-config
	depends = zenity
	depends = xdg-user-dirs
	depends = gtk3
	depends = at-spi2-core
	optdepends = suwayomi-server-preview-bin
	provides = tachidesk-sorayomi
	conflicts = tachidesk-sorayomi
	source = git+https://github.com/Zebra2711/Tachidesk-Sorayomi.git
	sha256sums = SKIP

pkgname = tachidesk-sorayomi-git
